name: Deploy with Helios

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: "Which branch to deploy"
        required: true
        type: string
      commit_sha:
        description: "Commit SHA to deploy"
        required: false
        type: string
      environment_name:
        description: "Which environment to deploy (e.g. staging, production)"
        required: true
        type: string
      triggered_by:
        description: "Username that triggered deployment"
        required: false
        type: string

concurrency: ${{ github.event.inputs.environment_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_name }}

      - name: Prepare step
        run: |
          echo "This is a build step placeholder."

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_name }}

      - name: Deployment placeholder
        run: |
          echo "Deploying branch ${{ github.event.inputs.branch_name }} to environment ${{ github.event.inputs.environment_name }}."
